*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1314px;
    margin: 0 auto;
}
.navbar {
    border-radius: 30px;
    padding-top: 48px;
    padding-bottom: 64px;

}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 43px 38px;
    font-family: Arial Narrow;

}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    font-size: 20px;

}


.active, .navbar li:hover {
    background-color: rgb(243, 235, 235);
  border: #489075;
}

.button {
    float: right;
    color: rgb(0, 0, 0);
    padding: 12px 65px;
    margin: 32px 52px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* section 1 */

.sec2-head {
    display: flex;
    font-size: large;
    font-family: serif;
    padding-right: 44px;
    box-sizing: border-box;
}
.sec2{
   width: 100%;
  
}
.sec2 h1 {
    font-size: 75px;
    padding-left: 29px;
}

.sec2 p {
    text-align: left;
    font-family: Calibri;
    text-align: left;
    padding-left: 38px;
    margin-top: -45px;
}

.sec2-img img {
    float: right;
    height: 400px;
    padding-top: 20px;

}


.button2{
    float: left;
    background-color: black;
    color: rgb(251, 246, 246);
    padding: 12px 65px;
    margin: 42px 50px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 40px;
    cursor: pointer;
}


/* section 2 */

.para2 {
    background-color: rgb(24, 25, 25);
    text-align: center;
    margin: -102px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

h2 {
    color: aliceblue;
    font-size: 49px;
    margin-top: 10%;
    padding-top: 40px;
}

.para2 p {
    color: aliceblue;
    text-align: center;
    font-family: Calibri;
    height: 70px;
    padding-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 42px;
}

.button3 {
    background-color: black;
    color: aliceblue;
    padding: 12px 65px;
    margin: 42px 50px;
    font-size: 20px;
    border-color: aliceblue;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

/* section 3 */

.row1 {
    display: flex;
    width: 100%;
    height: 260px;
    padding-top: 100px;
    justify-content: center;
}

.col {

    width: auto;
    padding: 18px;
}


.col img {
    height: 100%;
}

h3 {
    color: rgb(9, 9, 9);
    font-size: 30px;
    margin-top: 3%;
    padding-top: 22px;
}
.col2 p {
    color: rgb(4, 4, 4);
    font-family: sans-serif;
    height: 70px;
    padding-top: 2%;
    padding-left: 0%;
}


/* section 4 */

.section4{
     
     padding-top: 200px;
     align-items: center;
     text-align: center;
    }

.icon-img img{
    padding-top: 300px;
    width: 75px;
    padding-bottom: 30px;

}
.icon h4{
 font-size: 75px;
 padding-bottom: 20px;
}
.icon p{
font-size: 20px;
font-family: Georgia;
padding-bottom: 100px;
}

/* section 5 */


.section5{
    display: flex;
    /* width: 700px; */
    height: 700px;
    margin-top: 200px;
   
}
.section5 img{
    width: 50%;
    height: auto;
   
}
.section5-a{
    height: auto;
}
.section5-a img{
    text-align: center;
    padding-left: 65px;
    width: 50%;
    height: auto;
   
}
.section5-b{
    display: flex;
}
.section5-b h4{
    padding-top: 34px;
    padding-left: 65px;
    font-size: 30px;
}
.section5-b p{
    float: right;
    padding-top: 34px;
    padding-left: 65px
}


/* section 6 */

.section6{
    display: flex;
    width: 100%;
    padding-bottom: 120px;
    margin-top: 90px;
    background-color: black;
}
.sec6heading{
    width: 50%;
}
.sec6heading h4{
    color: aliceblue;
    font-size: 45px;
   display: inline-block;
   padding-top: 60px;
    padding-left: 80px;
    
}
.sec6heading h5{
    color: aliceblue;
   
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-top: 60px;
    padding-left: 80px;
}
.sec6heading p{
    color: aliceblue;
    
    padding-left: 80px;
 
}
.section6-img img{
    padding-top: 75px;
    width: 80%;
    float: right;
    
}

/* section 7 */


.section7{
    display: flex;
    padding-top: 100px;
}
.section7img img{
    float: right;
    width: 30%;
    height: 500px;
    margin-top: -145px;
    padding-right: 100px;
}
.section7 h4{
    font-family: grorgia;
    font-size: 70px;
    display: inline;
}
.section7-a{
        background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 27px;
  width: 100%;
  text-align: start;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}

.active, .section7-a:hover {
        background-color: #ccc;
      
}
.content{

    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

 /* section 8 */

 .section8{
    display: flex;
 }
 .section8 img{
    float: right;
    /* width: 50%; */
    margin-top: -55px;
 }
 .section8-a h3{
    font-size: 85px;
    /* display: inline; */
    padding-top: 80px;
 }
 input[type=text],
select,
textarea {
    width: 30%;
    padding: 12px;
    border: 3px solid rgb(8, 8, 8);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin: 8px;
}

input[type=submit] {
    background-color: #489075;
    color: white;
    padding: 12px 176px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
    margin-left: 13px;
}

/* section 9 */
.section9-a h3{
    text-align: center;
    font-size: 70px;
    padding-bottom: 70px;
    padding-top: 70px;

}
.row{
    display: flex;
    /* border: 2px solid black; */
    gap: 3rem;
}
.content1{
    border: 4px solid black;
    text-align: center;
    border-radius: 10px;
}
.content12{
    border: 4px solid black;
    text-align: center;
    border-radius: 10px;
}
.content13{
    border: 4px solid black;
    text-align: center;
    border-radius: 10px;
}
.column p{
font-size: 25px;
padding-top: 20px;
padding-bottom: 20px;
}
.column img{
    padding-top: 25px;
}

/* footer */

.footer{
    background-color: #489075;
    margin-top: 100px;
}

.allrights{
    display: flex;
}
.heading{
    width: 30%;
}
.heading h4{
    font-size: 70px;
    padding-top: 60px;
}
.lists{
    text-align: center;
    text-decoration: none;
}
.lists h5{
    font-size: 30px;
    padding-top: 80px;
    text-align: initial;
    padding-left: 30px;
}
.lists2 ul{
    text-align: start;
    padding-top: 20px;
}
.lists2  li{
    text-decoration: none;
    padding: 16px;
    display: inline-block;
}

.lists2{
   
    font-size: 20px;
    font-family: Georgia;
}
.rights h4{
    text-align: center;
    background-color: #489075;
    padding-top: 54px;
    padding-bottom: 85px;
    font-size: 20px;
    
}
